<font size=6><b>Lec10. 앙상블 모델

In [20]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# ------------------------------------------------------ 훈련데이터
from sklearn.datasets import load_iris
# --------------------------------------------------------------------------
from sklearn.model_selection import train_test_split
# -------------------------------------------------------------------------- 정규화
from sklearn.preprocessing import StandardScaler, MinMaxScaler, RobustScaler
# -------------------------------------------------------------------------- 인코딩
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
# -------------------------------------------------------------------------- 모델
from sklearn.tree import DecisionTreeClassifier
# -------------------------------------------------------------------------- 평가
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score, recall_score, f1_score, roc_auc_score 
from sklearn.metrics import confusion_matrix,classification_report
from sklearn.metrics import roc_curve, roc_auc_score
# -------------------------------------------------------------------------- 교차검증
from sklearn.model_selection import KFold, StratifiedKFold
from sklearn.model_selection import cross_val_score, cross_validate
# --------------------------------------------------------------------------

import warnings
warnings.filterwarnings(action="ignore")

In [5]:
#-------------------- 차트 관련 속성 (한글처리, 그리드) -----------
plt.rcParams['font.family']= 'Malgun Gothic'
plt.rcParams['axes.unicode_minus'] = False

#-------------------- 차트 관련 속성 (차트크기 ) -----------
# plt.rcParams['figure.figsize'] = (4, 2)
# plt.rcParams['font.size'] = 7

# Data Load
* df.info()
* df.shape
* df.head()

In [8]:
df = pd.read_csv("./lec10_가공완료_titanic.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   survived         891 non-null    int64
 1   pclass           891 non-null    int64
 2   sex              891 non-null    int64
 3   age              891 non-null    int64
 4   fare             891 non-null    float64
 5   name_title       891 non-null    int64
 6   family           891 non-null    int64
 7   fare_per_family  891 non-null    float64
 8   cabin2           891 non-null    int64
 9   etc              891 non-null    int64
dtypes: float64(2), int64(8)
memory usage: 69.7 KB

In [9]:
df.shape

(891, 10)

In [10]:
df.head()

,survived,pclass,sex,age,fare,name_title,family,fare_per_family,cabin2,etc
0,0,3,0,2,7.2500,0,1,3.62500,0,0
1,1,1,1,3,71.2833,1,1,35.64165,3,1
2,1,3,1,2,7.9250,2,0,7.92500,0,0
3,1,1,1,3,53.1000,1,1,26.55000,3,1
4,0,3,0,3,8.0500,0,0,8.05000,0,0

# 1차 점수

In [24]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, f1_score

y = df["survived"]
X = df.drop('survived', axis=1)

train_X, test_X, train_y, test_y = train_test_split(X, y, test_size=0.3, random_state=11, stratify=y)
model = DecisionTreeClassifier(random_state=11)
model.fit(train_X, train_y)
pred = model.predict(test_X)

# ----------------- 학습1회 점수 --------------------------------------
accuracy = accuracy_score(test_y, pred)
f1       = f1_score(test_y, pred)
# ----------------- 학습5회 점수 (교차검증)  ---------------------------
skfold = StratifiedKFold(n_splits=5, shuffle=True, random_state=1212)
score_arr = cross_val_score(model, X, y, cv=skfold, scoring="f1")

print(f"accuracy:{accuracy:.4f}  f1:{f1:.4f}  f1(cv):{score_arr.mean():.4f}")

accuracy:0.7985  f1:0.7128  f1(cv):0.7285

# 모델 변경
* 트리 : LogisticRegression, DecisionTreeClassifier
* 보팅 : VotingClassifier
* 배깅 : BaggingClassifier, RandomForestClassifier
* 부스팅 : AdaBoostClassifier, GradientBoostingClassifier
* 스태킹 : StackingClassifier
* 외부 부스팅 : XGBoost, LightGBM

In [33]:
# ! pip install xgboost
# ! pip install lightgbm
# ! pip install catboost

```python
class sklearn.linear_model.LogisticRegression(penalty='l2', *, dual=False, tol=0.0001, C=1.0, fit_intercept=True, intercept_scaling=1, class_weight=None, random_state=None, solver='lbfgs', max_iter=100, multi_class='auto', verbose=0, warm_start=False, n_jobs=None, l1_ratio=None)

class sklearn.tree.DecisionTreeClassifier(*, criterion='gini', splitter='best', max_depth=None, min_samples_split=2, min_samples_leaf=1, min_weight_fraction_leaf=0.0, max_features=None, random_state=None, max_leaf_nodes=None, min_impurity_decrease=0.0, class_weight=None, ccp_alpha=0.0)

class sklearn.ensemble.VotingClassifier(estimators, *, voting='hard', weights=None, n_jobs=None, flatten_transform=True, verbose=False)

class sklearn.ensemble.BaggingClassifier(estimator=None, n_estimators=10, *, max_samples=1.0, max_features=1.0, bootstrap=True, bootstrap_features=False, oob_score=False, warm_start=False, n_jobs=None, random_state=None, verbose=0, base_estimator='deprecated')

class sklearn.ensemble.RandomForestClassifier(n_estimators=100, *, criterion='gini', max_depth=None, min_samples_split=2, min_samples_leaf=1, min_weight_fraction_leaf=0.0, max_features='sqrt', max_leaf_nodes=None, min_impurity_decrease=0.0, bootstrap=True, oob_score=False, n_jobs=None, random_state=None, verbose=0, warm_start=False, class_weight=None, ccp_alpha=0.0, max_samples=None)

class sklearn.ensemble.GradientBoostingClassifier(*, loss='log_loss', learning_rate=0.1, n_estimators=100, subsample=1.0, criterion='friedman_mse', min_samples_split=2, min_samples_leaf=1, min_weight_fraction_leaf=0.0, max_depth=3, min_impurity_decrease=0.0, init=None, random_state=None, max_features=None, verbose=0, max_leaf_nodes=None, warm_start=False, validation_fraction=0.1, n_iter_no_change=None, tol=0.0001, ccp_alpha=0.0)
class sklearn.ensemble.StackingClassifier(estimators, final_estimator=None, *, cv=None, stack_method='auto', n_jobs=None, passthrough=False, verbose=0)
```

In [39]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import VotingClassifier
from sklearn.ensemble import BaggingClassifier, RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier, GradientBoostingClassifier
from sklearn.ensemble import StackingClassifier
import xgboost as xgb
import lightgbm as lgb
from catboost import CatBoostClassifier

In [43]:
lr = LogisticRegression(random_state=11)
dt = DecisionTreeClassifier(random_state=11)

voting = VotingClassifier(estimators=[ ('lr', lr), ('df', df)], voting='hard')

bagging = BaggingClassifier(estimator=dt, n_estimators=10, random_state=11)
rf = RandomForestClassifier(n_estimators=20,random_state=11)

gboost = GradientBoostingClassifier(loss='log_loss', learning_rate=0.1, n_estimators=20, random_state=11)

skfold = StratifiedKFold(n_splits=3, shuffle=True, random_state=1212)  # 분류
staking = StackingClassifier(estimators=[ ('lr', lr), ('df', df)], final_estimator=rf, cv=skfold)

### Xgboost
* https://xgboost.readthedocs.io/en/latest/python/python_api.html

### LightGBM
* https://lightgbm.readthedocs.io/en/latest/Python-API.html

### Catboost
* https://catboost.ai/en/docs/

# 파이프라인

In [ ]:
from sklearn.pipeline import Pipeline

# pycaret